  h1, h2, h5, .card-title, .hamburger, .sidenav li>a>i.material-icons {
    color: #143f5f;
  }

  h1 {
      padding-top: 10%;
  }

 blockquote {
    border-left: 5px solid #143f5f;
  }

  .watercolor {
      background-image: url("../images/green-watercolor.jpg") 
  }

  .tech-skill-icons {
      border-bottom: 2px solid #90a4ae;
  }

  .email-icon {
      font-size: 100px;
      color: black;
  }
