  h1, h2, h5, .card-title {
    color: #143f5f;
  }

  h1 {
      padding-top: 10%;
  }

 blockquote {
    border-left: 5px solid #143f5f;
  }

  .watercolor {
      background-image: url("../images/green-watercolor.jpg") 
  }

  .tech-skill-icons {
      border-bottom: 2px solid #90a4ae;
  }

  .material-icons {
      font-size: 100px;
  }

  a {
      color: black;
  }